body{
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap:200px;
    font-size: large;
}

.title{
    background-color: black;
    color: azure;
    text-align: center;
    margin: 1% 1% 1% 1%;
    padding: 20px 20px 20px 20px;    
}
section{
    text-align: center;
    border: 2px solid black;
    padding: 50px;
    margin: 5% 10%;
    
}
img{
    height: 500px;
    width: 500px;
    margin: 10% 10%;
    &:hover{
        transform: scale(1.15);
    }
}