ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap:200px;
    font-size: large;
}

.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(48, 44, 44);
    color: azure;
    text-align: center;
    margin: 1% 1% 1% 1%;
    padding: 20px 20px 20px 20px;    
}
section{
    text-align: center;
    border: 2px solid black;
    padding: 50px;
    margin: 5% 10%;    
}
.scolor1{
    background-color: rgba(174, 194, 94, 0.408);
}
.scolor2{
    background-color: rgba(158, 178, 184, 0.536);
}
.sfont{
    font-size: 4em;
    background-color: blueviolet;
}
img{
    height: 500px;
    width: 500px;
    margin: 10% 10%;
    &:hover{
        transform: scale(1.15);
    }
}